suites:
  shorten_suite:
    namespace: Indigo\Shorten
    psr4_prefix: Indigo\Shorten
extensions:
  - PhpSpec\Extension\CodeCoverageExtension
formatter.name: pretty
code_coverage:
  format: clover
  output: build/coverage.xml
